section {
  @apply flex
    w-full
    h-full
    justify-center
    items-center
    flex-col;

  background: #dddddd;

    @apply my-5;

    h2 {
      @apply p-4
      text-center
      font-semibold;
    }

    input {
      @apply outline-none
        p-1
        mr-1;

      border: 1px solid gray;
    }

    .directive-tooltip{
        border-bottom: 1px solid black;
        padding-bottom: 40px;
    }

    .directive-tooltip-position{
        border-bottom: 1px solid black;
        padding-bottom: 40px;

        div {
            display: grid;
            grid-auto-columns: 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 60px 30px;
            grid-template-areas:
            ". ."
            ". .";
            justify-content: space-between;
            justify-items: stretch;
            align-items: stretch;
        }
    }
}
