<section>
    <div class="directive-tooltip">
        <h2> == Directive Tooltip Atlas ==></h2>
            <input
              appToolTip
              tooltip= "Static tooltip"
              theme="white"
              type="text"
            />

            <input
              appToolTip
              [tooltip]="Dynamic"
              theme="dark"
              type="text"
            />

            <input
              appToolTip
              [tooltip]="textDynamic"
              theme="white"
              type="text"
            />
      </div>

  <!-- <div class="directive-tooltip">
    <h2> Directive Tooltip ></h2>
    <input
      appToolTip
      tooltip= "Static"
      placeholder="Static"
      type="text"
    />
    <input
      appToolTip
      [tooltip]="Dynamic"
      placeholder="Dynamic"
      type="text"
    />
  </div> -->
</section>
