/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #dddddd;
}

.tooltip {
    width: auto;
    max-width: 250px;
    position: absolute;
    text-align: center;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 4px;
    line-height: initial;
    z-index: 1000;
    opacity: 0;
    animation: 0.18s ease-out;
    pointer-events: none;

    &-dark {
        color: white;
        background: #202124;
    }

    &-white {
        color: #5e5e5e;
        background: white;
    }
}
.tooltip-show {
    opacity: 1;
}
